*.whl
*.pyc
*~
*.swp
*venv

# Eclipse
.cproject
.project

# VS Code
.vscode
packages/

# Waf
.lock-waf*
.waf*

# Build artifacts
target/
target.dbg/
install/
install.dbg/
**/install-*/
test_package/build/
out/build/
out/install/
test_package/build/
*.pyc
*.swp
.depproj
.vs
*.vcxproj.user
**/Debug/
**/Release/
*.a
*.so*

# CMake
_deps/
CMakeFiles/
*.cmake
CMakeCache.txt
# cmake generates these Makefiles
externals/*/Makefile
externals/coda-oss/modules/c++/**/Makefile
externals/coda-oss/modules/python/**/Makefile
externals/nitro/modules/**/Makefile
Makefile
six/Makefile
six/modules/**/Makefile
*_config.h
*_config.hpp
build/

# Drivers
six/projects/csm/external/csm-master/
six/projects/csm/external/csm-3.0.3/
six/projects/csm/external/vts_301_0/

# Giant test files
regression_files/
six/modules/c++/cphd/tests/sample_cphd/

