*.whl
*.pyc
*~
*.swp
*venv

# Eclipse
.cproject
.project

# VS Code
.vscode
packages/
.vs
*.vcxproj.user

# Waf
.lock-waf*
.waf*

# Build artifacts
target/
target.dbg/
install/
install.dbg/
**/install-*/
test_package/build/
out/
test_package/build/
*.pyc
*.swp
.depproj
**/Debug/
**/Release/
*.a
*.so*

# CMake
_deps/
CMakeFiles/
CMakeCache.txt
CMakeSettings.json
# cmake generates these Makefiles
externals/*/Makefile
externals/coda-oss/modules/c++/**/Makefile
externals/coda-oss/modules/python/**/Makefile
externals/nitro/modules/**/Makefile
Makefile
six/Makefile
six/modules/**/Makefile
*_config.h
*_config.hpp
build/

# Drivers
six/projects/csm/external/csm-master/

# Giant test files
regression_files/
six/modules/c++/cphd/tests/sample_cphd/

