*.whl
*.pyc
*~
*.swp

# Eclipse
.cproject
.project

# Waf
.lock-waf*
.waf*

# Build artifacts
target/
install/

# Drivers
six/projects/csm/external/csm-master/
six/projects/csm/external/csm-3.0.3/
six/projects/csm/external/vts_301_0/
